<!DOCTYPE html>
<html>
<head>
  <title>Virtual Guide</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      padding: 20px;
    }
    h1 {
      margin-bottom: 20px;
    }
    .container {
      max-width: 400px;
    }
    .btn-group {
      margin-bottom: 20px;
    }
    #status {
      margin-bottom: 20px;
      padding: 20px;
    }
    
  </style>
</head>
<body>
  <div class="container">
    <h1>Virtual Guide</h1>
    <div class="form-group">
      <label for="languageDropdown">Select languages from a given set of options</label>
      <select class="form-control" id="languageDropdown">
        <option value="">Source language</option>
        <option value="tamil">Tamil</option>
        <option value="english">English</option>
        <option value="kannada">Kannada</option>
        <option value="marathi">Marathi</option>
        <option value="hindi">Hindi</option>
        <option value="telugu">Telugu</option>
        <option value="gujarati">Gujarati</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" id="targetlanguageDropdown">
        <option value="">Target language</option>
        <option value="tamil">Tamil</option>
        <option value="english">English</option>
        <option value="kannada">Kannada</option>
        <option value="marathi">Marathi</option>
        <option value="hindi">Hindi</option>
        <option value="telugu">Telugu</option>
        <option value="gujarati">Gujarati</option>
      </select>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary" id="recordBtn" onclick="toggleRecording()">Start Recording</button>
    </div>
  </div>
    <div id="status"></div>
    <audio id="audio-player" controls autoplay></audio>

  <script src="https://cdn.socket.io/4.3.1/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>

<script src="https://cdn.socket.io/4.3.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    let mediaRecorder;
    let chunks = [];
    let selectedLanguage;
    let selectedTargetLanguage;
    const audioPlayer = document.getElementById('audio-player');
    var recording = false;
    let clientId; 
    const socket = io();

    // Emit unique ID to the server on connection
    socket.on('connect', function() {
        clientId = socket.id;
        socket.emit('new_user', { id: clientId });
        console.log("Connected with ID:", clientId);
    });

    socket.on('response', function(response) {
        $('#status').append('<p>' + response + '</p>');
    });

    function toggleRecording() {
      if (recording) {
        stopRecording();
      } else {
        startRecording();
      }
  
      recording = !recording;
      updateButton();
    }
  

function startRecording() {
  $('#status').append('<p>' + "Recording Started......" + '</p>');
  navigator.mediaDevices.getUserMedia({ audio: true })
    .then(function(stream) {
      mediaRecorder = new MediaRecorder(stream);
      mediaRecorder.start();

      mediaRecorder.addEventListener("dataavailable", function(e) {
        chunks.push(e.data);
      });
    })
    .catch(function(err) {
      console.log("Unable to access microphone: " + err);
    });
}


async function stopRecording() {
  // Create a Promise wrapper for the mediaRecorder.stop() method
  const stopPromise = new Promise((resolve, reject) => {
    mediaRecorder.onstop = resolve;
    mediaRecorder.onerror = reject;
    mediaRecorder.stop();
  });

  try {
    // Await the resolution of the Promise
    await stopPromise;
    console.log("Recording stopped");
    $('#status').append('<p>' + "Recording Stopped...." + '</p>');

    // Check if there are any recorded audio chunks
    if (chunks.length === 0) {
      console.log("No recorded audio available.");
      return;
    }

    // Do something with the recorded audio chunks
    const blob = new Blob(chunks, { type: "audio/webm" });

  const formData = new FormData();
  formData.append("audio", blob);
  formData.append("language", selectedLanguage);
  formData.append("target_language", selectedTargetLanguage);
  formData.append("clientId",clientId)

  fetch("/play_voice", {
    method: "POST",
    body: formData
  })
  .then(response => response.blob())
  .then(blob => {
      const audioURL = URL.createObjectURL(blob);
      audioPlayer.src = audioURL;
      audioPlayer.load();
      audioPlayer.play();
  })
  .catch(function(error) {
    console.error("Error sending audio: " + error);
  });

  } catch (error) {
    console.error("Error stopping recording:", error);
  }
}

document.getElementById("languageDropdown").addEventListener("change", function() {
  selectedLanguage = this.value;
});

document.getElementById("targetlanguageDropdown").addEventListener("change", function() {
    selectedTargetLanguage = this.value;
  });

  function updateButton() {
    var button = document.getElementById("recordBtn");
    if (recording) {
      button.innerHTML = "Stop Recording";
      button.className = "btn btn-danger";
    } else {
      button.innerHTML = "Start Recording";
      button.className = "btn btn-primary";
    }
  }

</script>
